<div class="container">
  <h3 (click)="main()" class="text text-info">CINEAPP</h3>
  <form class="form-group">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="Email" [(ngModel)]="email" name="email" autofocus>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password" [(ngModel)]="password" name="password">
    </div>
    <div class="form-group">
      <button id="sign-in-btn" class="btn btn-primary" type="button" (click)="signIn()">Sign In</button>
    </div>
    <div class="alert alert-danger" [hidden]="!failed">Wrong Eamil or Password</div>
  </form>
  <p>No Account? <a (click)="signUp()">Sign Up</a></p>
</div>