<div class="container">
  <br>
  <div *ngIf="!users.length">
    <h3>No Users Found</h3>
    <button class="btn btn-light" routerLink="/manager">Back</button>
  </div>
  <div *ngIf="users.length">
    <h3 class="text text-secondary text-center">All Users</h3>
    <div class="text text-right">
      <input type="text" placeholder="User Id or Name" id="search-user" [(ngModel)]="searchCondition"/>
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="search()">Search</button>
    </div>
    <table class="table table-hover" *ngIf="users.length">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
      <tr *ngFor="let user of users" routerLink="/manager/users/{{user.userId}}" >
        <td>{{user.userId}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.emailAddress}}</td>
        <td>{{user.admin}}</td>
      </tr>
    </table>
    <div class="text text-center" id="page">
      <button class="btn btn-light btn-sm" *ngIf="curPage>1" (click)="prevPage()"><-</button>
      <input id="curPage" [value]="curPage" disabled/>. . . {{totalPage}}
      <button class="btn btn-light btn-sm" *ngIf="curPage<totalPage" (click)="nextPage()">-></button>
    </div>
  </div>
</div>