<div class="container">
  <br>
  <div>
    <h3 class="text text-secondary text-center">All Users</h3>
    <table class="table table-hover" *ngIf="users.length">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
      <tr *ngFor="let user of users" routerLink="/manager/users/{{user.userId}}" >
        <td>{{user.userId}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.emailAddress}}</td>
        <td>{{user.admin}}</td>
      </tr>
    </table>
  </div>
</div>