<div class="container">
  <h3 (click)="main()" class="text text-info">CINEAPP</h3>
  <div class="alert alert-success" *ngIf="success">
    <strong>Success!</strong> You will be redirect to the home Page After {{seconds}}.
  </div>
  <form class="form-group" id="sign-up-form">
    <div class="form-group">
      <label for="email">Email <small>*</small></label><br>
      <input id="email" type="email" placeholder="Email" [(ngModel)]="email" name="email" required><br>
      <small *ngIf="email.length && !validateEmail()">Invalid Email</small>
      <small *ngIf="!uniqueEmail()">Email Already In Use</small>
    </div>
    <div class="form-group">
      <label for="password">Password <small>*</small></label><br>
      <input id="password" type="password" placeholder="Password" [(ngModel)]="password" name="password" required><br>
      <small *ngIf="password.length && !validatePassword()">Password Should Be 8-16 Characters</small>
    </div>
    <div class="form-group">
      <label for="confirmPass">Confirm Password <small>*</small></label><br>
      <input id="confirmPass" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPass" name="confirmPass" required><br>
      <small *ngIf="confirmPass.length && !validateConfirmPass()">Password Does Not Match</small>
    </div>
    <div class="form-group">
      <label for="firstName">First Name <small>*</small></label><br>
      <input id="firstName" type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required><br>
      <small *ngIf="firstName.length && !validateFirstName()">Invalid Name</small>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name <small>*</small></label><br>
      <input id="lastName" type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required><br>
      <small *ngIf="lastName.length && !validateLastName()">Invalid Name</small>
    </div>
    <div class="form-group">
      <button id="sign-up-btn" class="btn btn-primary" type="button" (click)="signUp()" [disabled]="!(email && password && confirmPass && firstName && lastName)">Sign Up</button>
    </div>
  </form>
</div>