img {
    max-width: 200px;
    height: 400px;
    object-fit: cover;   
    
}

li {
    list-style: none;
    display: inline-flex;
    margin: 10px 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}
