<div class="container">
  <br><br>
  <h3 *ngIf="!currentUser.emailAddress">No User Found</h3>
  <div *ngIf="currentUser.emailAddress">
    <p class="text text-secondary"><strong>User Profile</strong></p>
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
      <tr>
        <td>{{currentUser.userId}}</td>
        <td>{{currentUser.firstName}} {{currentUser.lastName}}</td>
        <td>{{currentUser.emailAddress}}</td>
        <td>{{currentUser.admin}}</td>
      </tr>
    </table>
    <button *ngIf="currentUser.admin === false" id="ban-btn" class="btn btn-danger" (click)="ban()">Ban</button>
    <br><br>
    <div *ngIf="!reviews.length" class="text text-warning">Selected User Does Not Have Any Reviews</div>
    <div *ngIf="reviews.length">
      <p class="text text-secondary"><strong>User Reviews</strong></p>
      <table class="table table-hover" *ngIf="reviews.length">
        <tr>
          <th>Id</th>
          <th>Movie</th>
          <th>Title</th>
          <th>Content</th>
        </tr>
        <tr *ngFor="let review of reviews">
          <td>{{review.reviewId}}</td>
          <td>{{review.movieId}}</td>
          <td>{{review.postTitle}}</td>
          <td>{{review.postBody}}</td>
          <td><button class="btn btn-sm btn-danger" (click)="delete(review.reviewId)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
