<div class="container">
    <h3 (click)="main()" class="text text-info">CINEAPP</h3>
    <form class="form-group">
      <div class="form-group">
        <label for="PostTitle">New Post Title</label>
        <input id="email" type="text" placeholder="PostTitle" [(ngModel)]="PostTitle" name="postTitle" autofocus autocomplete="off">
      </div>
      <div class="form-group">
        <label for="PostBody">New Post Body</label>
        <input id="password" type="text" placeholder="PostBody" [(ngModel)]="PostBody" name="postBody">
      </div>
      <div class="form-group">
        <button id="sign-in-btn" class="btn btn-primary" type="button" (click)="editReview()">Sign In</button>
      </div>