<div class="container">
	<nav>
		<h3 class="text text-info">CINEAPP</h3>
		<button *ngIf="!login" class="btn btn-light" routerLink='/login'>Log In/Sign Up</button>
		<button *ngIf="login" class="btn btn-light" routerLink='/home'>Home</button>
		<button *ngIf="manager" class="btn btn-light" routerLink='/manager/users'>Manager</button>
		<button *ngIf="login" class="btn btn-light" (click)="logout()">Log Out</button>
	</nav>
	<div>
		Movie Trailer
	</div>
	<footer>
		<a>About Us</a>
		<a>Meet The Team</a>
		<a>Copyright</a>
	</footer>
</div>
